* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
  }
  
  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* NOT BEING USED - The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
  .wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
  }
  
  /* NOT BEING USED - The footer is positioned at the bottom of the page */
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100px;
    background: #4e5d6c;
  }
  
  /* NOT BEING USED - The code styles the text at the bottom of the footer */
  .footer > .bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #1b3146;
  }
 
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */


/*  Needed to load images */  
.loader {
    margin-top: 50px;
  }
  
  .margin-top-50 {
    margin-top: 50px;
  } 
  
  /* The styles for the primary image*/
  .hero {
    position: relative;
    height: 350px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("co2screenshot3.png");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
  
  .hero h1 {
    margin-top: 100px;
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
  }
  
  .hero p {
    font-size: 2rem;
    opacity: 0;
    animation: subtitle .0002s forwards linear;
    animation-delay: 1.2s;
  }
  
 /* The style for the header for the about page*/
 .heroabout {
    position: relative;
    height: 700px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("co2background.png");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }

  .heroabout h1 {
    margin-top: 100px;
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
    color: darkslategray;
  }
  
  .heroabout p {
    font-size: 2rem;
    margin-left: 200px;
    margin-right: 200px; 
    opacity: 0;
    animation: subtitle .0002s forwards linear;
    animation-delay: 1.2s;
    color: darkslategray;
  }

/* The style for the header for the about page*/
.heromap {
    position: relative;
    height: 250px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("co2worldmap.png");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }

  .heromap h1 {
    margin-top: 100px;
    font-size: 0.1rem;
    color: red;
    animation: title 1.2s forwards linear;
  }
  
  .heromap h2 {
    font-size: 2rem;
    opacity: 0;
    color: darkolivegreen;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  } 
 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  
  .center {
    /* margin-top: 40px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    color: darkgray;
  }


  /* input placeholder color changes */
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8e979f;
  }
  
    .hero h1 {
      animation: smaller-title 1.2s forwards linear;
    }
  
/*   
  /* NOTE: Keep all of these - keyframe animations which will be used to animate the title */
  @keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  } 
  
  @keyframes smaller-title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 5.5rem;
      opacity: 1;
    }
  }
  
  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.images {
    display: flex;
    flex-wrap: wrap;
    margin: 10 50px;
    padding: 20px;
}

.photo {
    max-width: 25%;
    padding: 0 10px;
    height: 240px;
}

.photo img {
    width: 100%;
    height: 100%;
}
