<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1> Python -> JS -> Python demo</h1>
<p style="font-family: 'Times New Roman', Times, serif;"><a class="btn btn-primary btn-lg" role="button" href="/loadall">Ping javascript for all countries</a></p>
<br>
<p style="font-family: 'Times New Roman', Times, serif;"><a class="btn btn-primary btn-lg" role="button" href="/loadsingle">Ping javascript for single country</a></p>
<script src="../static/js/CO2_app.js"></script>
<body>